@using LeaveManagementSystem.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"] - Leave Management System</title>
	<link rel="shortcut icon" type="image/png" href="~/images/logos/favicon.png" />
	<link rel="stylesheet" href="~/css/styles.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/LeaveManagementSystem.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
	<link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.min.css" />
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
	<script src="~/lib/jqueryui/jquery-ui.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/sidebarmenu.js"></script>
	<script src="~/js/app.min.js"></script>
	<script src="~/lib/simplebar/dist/simplebar.js"></script>
	<partial name="_ValidationScriptsPartial" />
	<!-- solar icons -->
	<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#registerModal').on('shown.bs.modal', function () {
				var $dob = $("#Input_DateOfBirth");
				if ($dob.data('datepicker')) {
					$dob.datepicker('destroy');
				}
				var today = new Date();
				var maxDate = new Date(today.getFullYear() - 14, today.getMonth(), today.getDate());
				var minDate = new Date(today.getFullYear() - 100, today.getMonth(), today.getDate());
				console.log("Max Date: " + maxDate);
				console.log("Min Date: " + minDate);
				$dob.datepicker({
					dateFormat: 'dd-mm-yy',
					changeMonth: true,
					changeYear: true,
					maxDate: maxDate,
					minDate: minDate
				});
			});
		});
	</script>
	@await RenderSectionAsync("Scripts", required: false)
</head>

<body>
	<!--  Body Wrapper -->
	<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
		 data-sidebar-position="fixed" data-header-position="fixed">

		<!--  App Topstrip -->
		<div class="app-topstrip bg-dark py-3 px-4 w-100 d-lg-flex align-items-center justify-content-between">
			<div class="d-none d-sm-flex align-items-center justify-content-center gap-9 mb-3 mb-lg-0">
				<div class="d-none d-xl-flex align-items-center gap-3 border-start border-white border-opacity-25 ps-9">
				</div>

			</div>
			<div class="d-lg-flex align-items-center gap-3">
				<div class="d-sm-flex align-items-center justify-content-center gap-8">
					<div class="d-flex align-items-center justify-content-center gap-8 mb-3 mb-sm-0">
						<div class="dropdown d-flex">
							<div class="dropdown-menu p-3 dropdown-menu-end dropdown-menu-animate-up overflow-hidden rounded"
								 aria-labelledby="drop3">
								<div class="message-body">
								</div>
							</div>
						</div>

					</div>
					@if (User.Identity.IsAuthenticated)
					{
						<h3 class="text-linear-gradient mb-3 mb-lg-0 fs-3 text-uppercase text-center fw-semibold">Hello @User.Identity?.Name!</h3>
						<ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
							<li class="nav-item dropdown">
								<a class="nav-link " href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
								   aria-expanded="false">
									<img src="~/images/profile/user1.jpg" alt="" width="35" height="35"
										 class="rounded-circle">
								</a>
								<div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
									<div class="message-body">
										<a asp-area="Identity" asp-page="/Account/Manage/Index" class="d-flex align-items-center gap-2 dropdown-item">
											<i class="ti ti-mail fs-6"></i>
											<p class="mb-0 fs-3">My Account</p>
										</a>
										<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
											<button type="submit" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</button>
										</form>
									</div>
								</div>
							</li>
						</ul>
					}

				</div>
			</div>

		</div>

		<!-- Sidebar Start -->
		<aside class="left-sidebar">
			<!-- Sidebar scroll-->
			<div>
				<div class="brand-logo d-flex align-items-center justify-content-between">
					<a asp-controller="Home" asp-action="Index" class="text-nowrap logo-img">
						<img src="~/images/logos/logo.svg" alt="" />
					</a>
					<div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
						<i class="ti ti-x fs-8"></i>
					</div>
				</div>
				<!-- Sidebar navigation-->
				<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
					<ul id="sidebarnav">
						<li class="nav-small-cap">
							<iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
							<span class="hide-menu">Home</span>
						</li>
						<!--------------------------------------->
						<!-----------------Home------------------>
						<!--------------------------------------->
						<li class="sidebar-item">
							<a class="sidebar-link primary-hover-bg" asp-controller="Home" asp-action="Index" aria-expanded="false">
								<iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
								<span class="hide-menu">Dashboard</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link primary-hover-bg" asp-controller="Home" asp-action="Privacy" aria-expanded="false">
								<iconify-icon icon="solar:documents-broken"></iconify-icon>
								<span class="hide-menu">Privacy</span>
							</a>
						</li>
						@if (User.IsInRole(Roles.Administrator))
						{
							<!--------------------------------------->
							<!--------------Management--------------->
							<!--------------------------------------->
							<li class="nav-small-cap">
								<iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
								<span class="hide-menu">Management</span>
							</li>
							<li class="sidebar-item">
								<a class="sidebar-link primary-hover-bg" asp-controller="LeaveTypes" asp-action="Index" aria-expanded="false">
									<iconify-icon icon="solar:layers-broken"></iconify-icon>
									<span class="hide-menu">Leave Types</span>
								</a>
							</li>
							<li class="sidebar-item">
								<a class="sidebar-link primary-hover-bg" asp-controller="Periods" asp-action="Index" aria-expanded="false">
									<iconify-icon icon="solar:clapperboard-edit-broken"></iconify-icon>
									<span class="hide-menu">Periods</span>
								</a>
							</li>
							<li class="sidebar-item">
								<a class="sidebar-link primary-hover-bg" asp-controller="LeaveAllocations" asp-action="Index" aria-expanded="false">
									<iconify-icon icon="solar:user-id-broken"></iconify-icon>
									<span class="hide-menu">Employee</span>
								</a>
							</li>
							<li class="sidebar-item">
								<a class="sidebar-link primary-hover-bg" asp-controller="LeaveRequest" asp-action="ListRequests" aria-expanded="false">
									<iconify-icon icon="solar:calendar-broken"></iconify-icon>
									<span class="hide-menu">Manage Requests</span>
								</a>
							</li>
						}
						@if (User.Identity.IsAuthenticated)
						{
							<li class="sidebar-item">
								<a class="sidebar-link primary-hover-bg" asp-controller="LeaveAllocations" asp-action="Details" aria-expanded="false">
									<iconify-icon icon="solar:calendar-search-broken"></iconify-icon>
									<span class="hide-menu">View Allocations</span>
								</a>
							</li>
						}
						else
						{
							<!--------------------------------------->
							<!-----------------Auth------------------>
							<!--------------------------------------->

							<li>
								<span class="sidebar-divider lg"></span>
							</li>
							<li class="nav-small-cap">
								<iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
								<span class="hide-menu">Auth</span>
							</li>
							<li class="sidebar-item">
								<a class="sidebar-link primary-hover-bg" asp-area="Identity" asp-page="/Account/Login" aria-expanded="false">
									<iconify-icon icon="solar:login-3-line-duotone"></iconify-icon>
									<span class="hide-menu">Login</span>
								</a>
							</li>
							<li class="sidebar-item">
								<a class="sidebar-link primary-hover-bg" asp-area="Identity" asp-page="/Account/Register" aria-expanded="false">
									<iconify-icon icon="solar:user-plus-rounded-line-duotone"></iconify-icon>
									<span class="hide-menu">Register</span>
								</a>
							</li>
						}
	
					</ul>
					<div class="unlimited-access d-flex align-items-center hide-menu bg-secondary-subtle position-relative mb-7 mt-4 p-3 rounded-3">
						<div class="flex-shrink-0">
							<h6 class="fw-semibold fs-4 mb-6 text-dark w-75 lh-sm">Version</h6>
							<h6 class="btn btn-secondary fs-2 fw-semibold lh-sm">v1.2</h6>
						</div>
						<div class="unlimited-access-img">
							<img src="~/images/backgrounds/sidebar-buynow-bg.png" alt="" class="img-fluid">
						</div>
					</div>
				</nav>
				<!-- End Sidebar navigation -->
			</div>
			<!-- End Sidebar scroll-->
		</aside>
		<!--  Sidebar End -->
		<!--  Main wrapper -->
		<div class="body-wrapper">

			<div class="body-wrapper-inner">
				<div class="container-fluid">
					<div class="card">
						<div class="card-body">
							@RenderBody()
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
